
<form class="form-horizontal">
    <div class="fcontrol-group">
        <label class="control-label" for="url_base">{{_('URL Base') }}</label>
        <div class='controls'>
            <input type="text" class="form-control" id="url_base" name="url_base" data-bind="value: settings.plugins.InfoOrbs.url_base">
        </div>
    </div>
</form>